* {
    padding: 0;
    margin: 0;
    font-family: "futura";
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: 100vh;
}

.back {
    width: 100%;
    height: 100vh;
}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top {
    pointer-events: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.workingarea {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* border: 2px solid red; */
}

.nav {
    width: 100%;
    padding: 20px 0;  
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.nav img {
    height: 60px;
}

.nleft, .nright {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav a {
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: white;
    font-family: futura;
}

.hero {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate( 0, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
}

.heroleft {
    margin-top: 5vw;
    min-width: 50%;
    /* background-color: yellow; */
}

.heroleft .elem {
    height: 8vw;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}

.heroleft .elem h1:nth-child(1) {
    top: 0;
}

.heroleft .elem h1 {
    line-height: .76;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 11vw;
    position: absolute;
    top: 100%;
    left: 0;
}

.heroleft button {
    padding: .5vw 4vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: "kajiro";
    pointer-events: all;
}

.heroright {
    margin-top: 5vw;
    width: 17%;
    /* background-color: green; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.heroright p {
    text-align: right;
    font-size: 9px;
    font-weight: 300;

}

.heroright .imgdiv {
    width: 100%;
    height: 170px;
    margin-top: 8px;
    margin-bottom: 30px;
    background-image: url(./photo-1687358332095-ced8362d4a97.avif);
    background-size: cover;
    background-position: center;
}

.heroright p:nth-child(3) {
    /* color: red; */
    margin-bottom: 50px;
}
